<div class="timer__container">
  <div class="timer">
    <span class="timer__label">TIME</span>
    <span class="timer__duration">
      <span class="timer__count">10</span>
      <span class="timer__unit">hours</span>
    </span>
    <div class="timer__separator__dots">
      <span class="timer__dots"></span>
      <span class="timer__dots"></span>
    </div>
    <span class="timer__duration">
      <span class="timer__count">00</span>
      <span class="timer__unit">mins</span>
    </span>
    <div class="timer__separator__dots">
      <span class="timer__dots"></span>
      <span class="timer__dots"></span>
    </div>
    <span class="timer__duration">
      <span class="timer__count">01</span>
      <span class="timer__unit">secs</span>
    </span>
    <span class="timer__period"> AM </span>
    <img src="" alt="" />
  </div>
  <div class="timer__secondary__box-1"></div>
  <div class="timer__secondary__box-2"></div>
</div>
