.banner {
  position: relative;
  margin: auto;
  max-width: 80rem;
  max-height: fit-content;
}

/* .banner-title {
  position: absolute;
  top: 35%;
  left: 31%;
  z-index: 2;
  font-size: 100px;
  color: aliceblue;
  width: fit-content;
} */

#banner-video {
  max-width: 80rem;
  max-height: 40rem;
  filter: brightness(90%);
  border-radius: 10px;
  z-index: 1;
  visibility: hidden;
  /* transition: all 1s linear; */
}

.hr-one {
  color: rgb(156, 161, 159);
}
