.app-footer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    260deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(213, 81, 155, 1) 88%
  );
  border-radius: 10% 100% 96% 100% / 0% 78% 62% 46%;
}

@media screen and (max-width: 1000px) {
  .app-footer {
    border-radius: 10% 100% 96% 10% / 1% 48% 82% 1%;
  }
}
