.information-section-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

/* .information-section { */
/* position: absolute;
  margin-top: 10rem;
  margin-left: 32%; */
/* display: flex;
  flex-flow: column wrap; */
/* align-items: center; */
/* } */

.information-section h1 {
  margin: 0;
  font-size: 2rem;
  color: rgb(81, 79, 79);
}

.click-zoom input[type="checkbox"] {
  display: none;
}

.image-1 {
  max-width: 50rem;
  box-shadow: 0 0 5px 1px rgb(168, 168, 168);
  cursor: zoom-in;
  transition: transform 0.5s ease-in-out;
}

.video-1 {
  max-width: 50rem;
  box-shadow: 0 0 5px 1px rgb(168, 168, 168);
}

.click-zoom input[type="checkbox"]:checked ~ img {
  position: fixed;
  top: 30%;
  margin: auto;
  transform: scale(2);
  cursor: zoom-out;
  z-index: 2;
  /* background: transparent; */
}

.image-1:hover {
  box-shadow: 0 0 10px 1px rgb(123, 122, 122);
}

.information-section .about {
  /* position: absolute; */
  margin: 3rem 0;
  max-width: 50rem;
  font-size: 1.4rem;
}

.tags {
  margin: 2rem 0;
  font-size: 12px;
}

.tag-name {
  border-radius: 5px;
  padding: 4px 8px;
  margin-right: 5px;
  background: #ecebeb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.content-writer {
  text-transform: uppercase;
  margin: 5px 10px 0;
}

@media screen and (max-width: 900px) {
  .information-section-container {
    margin: 8rem 2rem 0;
  }

  .information-section {
    box-sizing: border-box;
    /* padding-left: 10rem; */
  }

  .image-1 {
    max-width: 40rem;
  }

  .information-section .about {
    margin: 3rem 0;
    max-width: 40rem;
    font-size: 1.4rem;
  }
  .video-1 {
    max-width: 40rem;
  }
}
