<div class="title--container">
  <main id="contact-section">
    <h1 class="title">Contact Me</h1>
    <hr class="title--hr--four" />
  </main>
</div>

<div class="contact__container">
  <div class="connect">
    <p class="connect--title">Let's connect</p>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta…
    </p>
    <div class="connect__container">
      <p class="connect--options">
        <img src="./images/email.png" alt="Email" />
        <span>info@mysite.com</span>
      </p>
      <p class="connect--options">
        <img src="./images/phone.png" alt="Phone" />
        <span> 1 (123) 456-7890 </span>
      </p>
      <p class="connect--options">
        <img src="./images/marker.png" alt="Location" />
        <span>1234 Street Ln Virginia Beach, VA 12345</span>
      </p>
    </div>
  </div>
  <div class="contact__form__box">
    <div>
      <p class="form-title">Send me a message</p>
      <form>
        <label for="name" required
          >First & Last Name <span class="required">*</span></label
        >
        <input type="text" name="name" id="name" />
        <label for="phone" required
          >Phone number <span class="required">*</span></label
        >
        <input type="text" name="phone" id="phone" />
        <label for="email" required
          >Email address <span class="required">*</span></label
        >
        <input type="text" name="email" id="email" />
        <label for="message" required
          >Message <span class="required">*</span></label
        >
        <textarea
          name="message"
          id="message"
          placeholder="Your message here.."
        ></textarea>
        <br />
        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>
