<div class="title--container">
  <main id="resume-section">
    <h1 class="title">Resume</h1>
    <hr class="title--hr--two" />
  </main>
</div>

<section class="resume">
  <div class="experiences">
    <div class="work__experiences__container">
      <p>Work Experience</p>
      <hr />
      <div class="work__experiences">
        <span class="year year--one"> 2020-Present </span>
        <div class="progress">
          <div class="circle circle--one"></div>
          <div class="bar bar--one"></div>
        </div>
        <div class="work-details">
          <p class="work--brief">Software Engineer - FULL TIME</p>
          <p class="work--company">Coforge</p>
        </div>
      </div>
    </div>
    <div class="education__container">
      <p>Education</p>
      <hr />
      <div class="education">
        <span class="year year--two"> 2016-2020 </span>
        <div class="progress">
          <div class="circle circle--one"></div>
          <div class="bar bar--two"></div>
          <!-- <div class="circle circle--two"></div>
              <div class="bar bar--two"></div> -->
        </div>
        <div class="education--details">
          <p class="education--college">CV Raman Global University</p>
          <p class="education--course">
            Bachelor in Electronics and Telecommunications Engineering
          </p>
          <p class="education--brief">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis,
            laborum ipsa! Dignissimos, dolore nulla eaque animi temporibus
            cumque.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img class="resume--guy" src="./images/resume-guy-img.png" alt="" />
</section>
