<div class="card">
    <span class="card__title"><a href="./list-view.html" target="_self">Trip to Paris</a></span>
    <hr class="card-hr" />
    <br />
    <span class="text-crossed">&nbsp;&nbsp;Completed Task</span>
    <br />
    <ul class="list-items">
        <li><span class="item">Shopping<button class="btn-done">done</button> </span></li>
        <li><span class="item">Sovenirs<button class="btn-done">done</button> </span></li>
        <li><span class="item">Street Food<button class="btn-done">done</button> </span></li>
        <li><span class="item">Adventure<button class="btn-done">done</button> </span></li>
        <li><span class="item">City Tour<button class="btn-done">done</button> </span></li>
        <li><span class="item">History<button class="btn-done">done</button> </span></li>
    </ul>
    <div class="add-item-button">
        <a href="#popup"><img src="./images/icons8-plus-50.png" alt=""></a>
    </div>
    <div class="delete-button">
        <img src="./images/bin.svg" alt="">
    </div>
</div>