<div class="btn-group">
    <button type="button" class="open-modal" data-open="modal-list">
        Launch modal
    </button>
</div>

<div class="modal blur" id="modal-list" data-animation="slideInOutDown">
    <div class="modal-dialog">
        <header class="modal-header">
            Add New List
        </header>
        <section class="modal-content">
            <input id="list" type="text" name="list" />
        </section>
        <footer class="modal-footer">
            <button class="close-modal" aria-label="close modal" data-close>
                Add
            </button>
            <button class="close-modal" aria-label="close modal" data-close>
                Close
            </button>
        </footer>
    </div>
</div>