.featured-products-heading {
  text-transform: uppercase;
  font-weight: 700;
}

.featured-products-list {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.feautured-product-link {
  text-decoration: none;
  color: black;
}

.featured-product {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  width: 17rem;
  height: 10rem;
  box-sizing: border-box;
  padding-top: 1rem;
  margin: 1rem;
  align-items: initial;
  transition: all 0.5s;
  overflow: visible;
}

.featured-product:hover {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.212);
  color: black;
}

.featured-product img {
  max-width: 5rem;
  max-height: 5rem;
  margin: 1rem;
}

.featured-product-info {
  text-align: left;
  font-size: 15px;
  padding-top: 1rem;
}

.featured-product .new-cost {
  color: #da5e65;
  font-weight: 600;
}

.featured-product .old-cost {
  margin: 0 10px;
  color: rgb(165, 163, 163);
  text-decoration: line-through;
}

@media screen and (max-width: 1000px) {
  .featured-products-list {
    flex-flow: column;
    margin: 0 5rem;
  }
}
