<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/ArticlesHorizontal.css" />
  </head>
  <body>
    <main class="ah-main-container">
      <h1 class="ah-heading">The Latest</h1>
      <hr class="ah-hr">
      <div class="ah-container">
        <figure class="ah-images-container">
          <img
            class="ah-images"
            src="https://images.pexels.com/photos/2886202/pexels-photo-2886202.jpeg?cs=srgb&dl=pexels-daniel-shi-2886202.jpg&fm=jpg"
            alt="Lake Louise, AB, Canada"
          />
          <figcaption class="ah-images-caption">
            Joshua Tree Overnight Adventure
            <p>
              Gujarat is vastly underrated and it's a mystery to us why the region
              isn't more well-known as a tourist destination. It has a plethora of
              temples and palaces.
            </p>
          </figcaption>
          <p class="ah-images-date">
            <span class="category">Travel</span><span> / October 3 2022</span>
          </p>
        </figure>
        <figure class="ah-images-container">
          <img
            class="ah-images"
            src="https://images.pexels.com/photos/2886202/pexels-photo-2886202.jpeg?cs=srgb&dl=pexels-daniel-shi-2886202.jpg&fm=jpg"
            alt="Lake Louise, AB, Canada"
          />
          <figcaption class="ah-images-caption">
            Joshua Tree Overnight Adventure
            <p>
              Gujarat is vastly underrated and it's a mystery to us why the region
              isn't more well-known as a tourist destination. It has a plethora of
              temples and palaces.
            </p>
          </figcaption>
          <p class="ah-images-date">
            <span class="category">Travel</span><span> / October 3 2022</span>
          </p>
        </figure>
        <figure class="ah-images-container">
          <img
            class="ah-images"
            src="https://images.pexels.com/photos/2886202/pexels-photo-2886202.jpeg?cs=srgb&dl=pexels-daniel-shi-2886202.jpg&fm=jpg"
            alt="Lake Louise, AB, Canada"
          />
          <figcaption class="ah-images-caption">
            Joshua Tree Overnight Adventure
            <p>
              Gujarat is vastly underrated and it's a mystery to us why the region
              isn't more well-known as a tourist destination. It has a plethora of
              temples and palaces.
            </p>
          </figcaption>
          <p class="ah-images-date">
            <span class="category">Travel</span><span> / October 3 2022</span>
          </p>
        </figure>
      </div>
    </main>
  </body>
</html>
