<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/ImageGallery.css" />
  </head>
  <body>
    <div class="grid-image-container">
      <div class="grid-images grid-images-one">
        <!-- <img class="gallery-image" src="" alt="" /> -->
        <div class="grid-images-caption-one">
          <h2>Lake Louise, AB, Canada</h2>
          <h5>Travel / October 1 2022</h5>
        </div>
      </div>
      <div class="grid-images grid-images-two">
        <div class="grid-images-caption-two">
          <h2>Lake Louise, AB, Canada</h2>
          <h5>Travel / October 1 2022</h5>
        </div>
        <!-- <img
          class="gallery-image"
          src="https://images.pexels.com/photos/2886202/pexels-photo-2886202.jpeg?cs=srgb&dl=pexels-daniel-shi-2886202.jpg&fm=jpg"
          alt=""
        /> -->
      </div>
      <div class="grid-images grid-images-three">
        <div class="grid-images-caption-three">
          <h2>Lake Louise, AB, Canada</h2>
          <h5>Travel / October 1 2022</h5>
        </div>
        <!-- <img
          class="gallery-image"
          src="https://images.pexels.com/photos/2886202/pexels-photo-2886202.jpeg?cs=srgb&dl=pexels-daniel-shi-2886202.jpg&fm=jpg"
          alt=""
        /> -->
      </div>
    </div>
  </body>
</html>
