<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/TopPosts.css" />
  </head>
  <body>
    <div class="top-posts-container">
      <h1 class="tp-heading">Top Posts</h1>
      <hr class="tp-hr" />
      <div class="tp-container">
        <div class="tp-images"></div>
        <div class="tp-images-caption">
          <p class="title">Catch waves with an adventure guide</p>
          <p class="number-1">1</p>
          <p class="tp-images-date">
            <span class="category">Travel</span>
            <span> / October 3 2022</span>
          </p>
        </div>
      </div>
      <hr class="tp-hr-wide" />
      <div class="tp-posts-container-small">
        <div class="tp-container-small">
          <div class="tp-images-small"></div>
          <span class="tp-images-caption-small">
            <span class="title">Catch waves with an adventure guide</span>
            <span class="number-2">2</span>
            <p class="tp-images-date">
              <span class="category">Travel</span>
              <span> / October 3 2022</span>
            </p>
          </span>
        </div>
      </div>
      <hr class="tp-hr-wide" />
      <div class="tp-posts-container-small">
        <div class="tp-container-small">
          <div class="tp-images-small"></div>
          <span class="tp-images-caption-small">
            <span class="title">Catch waves with an adventure guide</span>
            <span class="number-2">3</span>
            <p class="tp-images-date">
              <span class="category">Travel</span>
              <span> / October 3 2022</span>
            </p>
          </span>
        </div>
      </div>
      <hr class="tp-hr-wide" />
      <div class="tp-posts-container-small">
        <div class="tp-container-small">
          <div class="tp-images-small"></div>
          <span class="tp-images-caption-small">
            <span class="title">Catch waves with an adventure guide</span>
            <span class="number-2">4</span>
            <p class="tp-images-date">
              <span class="category">Travel</span>
              <span> / October 3 2022</span>
            </p>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
