/* @import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css"); */
.avatar-n-social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar-n-info {
  /* margin: auto; */

  /* align-items: center; */
}

@media screen and (max-width: 900px) {
  .avatar-n-social {
    flex-flow: column;
    align-items: flex-start;
  }
}
