html {
  font-size: 62.5%;
}

.navbar {
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center; */
  align-items: center;
  font-size: 2rem;
}

header {
  display: flex;
  align-items: center;
  margin: 3rem 0 0;
}
header span {
  padding: 0.5rem;
}

.the {
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 3rem;
  font-weight: 500;
}

.title {
  font-size: 5.5rem;
  font-weight: 700;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0 4rem;
}

.nav-links {
  text-decoration: none;
  color: rgb(69, 66, 66);
  font-weight: 600;
}
